<!doctype html>
<html>
<head>

	<link rel="stylesheet" type="text/css" href="layout.css">
	
	<link rel="stylesheet" href="https://use.typekit.net/ret5oth.css">
	
<title>Components Assignment</title>
</head>

<body>

<div class="outer">

<!--Top Nav-->
	<div class="navbar">
	<img class="logoimg" src="img/logo.png" alt= "AA logo">
	
	</div>
	
<div class="page">

<!--Hero Image-->
	<div class="main">
         <img src="img/swiss.jpg" alt="kayaker in switzerland"/>
		
	<div class="maintxt">
	See yourself in... <i>Switzerland</i>
	</div>
		
	</div>
	

<!--Search Bar-->
	<div class="search">
		
		<div class="searchbar">
		start your next vacation here
		</div>
		
		<div class="searchbutton">
		<img src="img/search.png" alt="search button">
		</div>
		
	</div>

</div>
</div>
	
</body>
</html>
