body{
  font-family: "bonnie", sans-serif;
  color: #fff;
	
}

.outer{
  text-align: center;
  background-color:#439CE8;
  width: 100%;
}

.page{

  max-width: 1200px;
  width: 90%;
  display: inline-block;
  background-color: #439CE8;
	
}

/* Hero Image */

.main {
    color: #204A6F;
	font-size: 30px;
	font-weight: 600;
	align-content: center;
	margin-top: 3%;
}
.main img{
	width: 90%;
	border: solid;
	border-radius: 10px;
	transition: transform 1s, filter 1s;
	filter: saturate(0);
}

.main img:hover {
	transform: scale(1.1);
	filter: saturate(1);

}

.maintxt {
	color:#fff;
	font-size: 30px;
	margin: 24px;
}