body {
    margin: -20px 0 0;
    padding: 0;
    background-color: #000;
	font-family: "bonnie", sans-serif;
	color: #0F4A72;
}

.outer {
    text-align: center;
	background-color: #9DD0F2;
}

.page {
    position: relative;
    max-width: 1200px;
    display: inline-block;
    text-align: left;
    height: 99vh;
	padding-top: 20px;
}

/* Sticky Navbar */
.navbar {
    position: sticky;
    top: 0;
    background-color: #204A6F;
    z-index: 1000;
	font-family: "bonnie", sans-serif;
    font-weight: 600;
    font-style: normal;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #204A6F;
	opacity: .98;
	
}

.navbar ul li {

}

.navbar ul li a {
    display: inline-block;
    color: white;
    text-align: center;
	margin: 20px 3px;
	padding: 10px 25px;
    text-decoration:none;
	background-color: #204A6F;
}

.navbar ul li a:hover {
	background-color:#16324A;
    border-radius:30px;

}

.logoimg {
	height: 40px;
	padding-top: 18px;
	margin-right: 30px;
	margin-left: -50px;	
}

.icons {
	height: 40px;
	padding: 20px 10px;
}

.tileimg1 {
	background-image: url("img/swiss.jpg");
	height:1000px;
	margin: 0;
	background-size:contain;
	background-repeat:no-repeat;
	background-position: center;
	
}

.tileimg2 {
	background-image: url("img/maine.jpg");
	height:1000px;
	margin: 0;
	background-size:contain;
	background-repeat:no-repeat;
	background-position: center;
}

.tileimg3 {
	background-image: url("img/scotland.jpg");
	height:1000px;
	margin: 0;
	background-size:contain;
	background-repeat:no-repeat;
	background-position: center;
}

.textbox{
    background-color: #fff;
    width:200px;
    padding:30px;
    font-family:"bonnie", sans-serif;
    font-size:24px;
    font-weight:300;
    text-align:center;
	margin: 400px;
	opacity: .95;
}